*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.png
*.gz
*/.ipynb_checkpoints/
*.html
*.csv
*.txt

/exvivo_exp25/GSEA tables/*.txt
/exvivo_exp25/data/*
.DS_Store

# don't track any of the data files
aml_outcome_disparities/src/python/data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Don't need to track my scratch notebook
scratch.ipynb

# Don't track intermediate data tables cached as Apache arrow files or pickles
*.arrow
*.pkl